* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
#pDeHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 30px;
    padding-top: 15px;

}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.contenedor {
    background-color: beige;
    border-radius: 15px;
    border: black 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.mostrar_promos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.h {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    color: red;
    font-size: 25px;

}
#title{
    font-size: 50px;
}
#form{
    font-size: 35px;
}
#pizza-Input{
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 5px;
    color: black;
}

#btn {
    background: linear-gradient(0deg, rgba(223, 18, 18, 1) 0%, rgba(29, 32, 221, 1) 100%);
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.imagen_id {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 400px;
    height: 400px;
    overflow: hidden;
   
}

#imgimg {
    height: 400px;
    width: 400px;
    padding: 5px;
    border-radius: 25px;


}